# SPDX-License-Identifier: GPL-3.0
# Copyright (c) 2025 Schubert Anselme <schubert@anselm.es>

config EXAMPLE_SENSOR
  bool "Example Sensor"
  default y
  depends on DT_HAS_ZEPHYR_EXAMPLE_SENSOR_ENABLED
  select GPIO
  help
    Enable example sensor
